 $primaryColor: #5E81F4;
 $primaryTextColor: #1C1D21;
 $BackgroundPrimaryColour: #F6F6F6;
 $StrokesColour: #F0F0F3;
 $PrimaryHoverColour: #1C1D21;
 $SecondaryTextColour: #8181A5;
 $BackgroundSecondaryColour: #F5F5FA;
 $WarningColour: #F4BE5E;
 $SuccessColour: #7CE7AC;
 $ErrorColour: #FF808B;
 $InformationColour: #9698D6;
 $LightWarningColour: #F4BE5E;
 $LightError: #FF808B;
 $LightInformationColour: #5E81F4;
 $LightCyanColour: #40E1FA;